<div class="test">Suggestion test</div>
<div class="address">{{model.address}}</div>
<div class="votes">{{model.votes}}</div>
<div class="author">{{model.author.name}}</div>
<div class="type">{{model.type.name}}</div>
<div class="parent-type">{{model.type.parent.name}}</div>
<div class="comment">{{firstComment.text}}</div>
<div class="comment-author">{{firstComment.author.name}}</div>
<div class="comment-vote-type">{{firstCommentVote.voteType}}</div>